input::-webkit-file-upload-button {
   font-size: .875rem;
   margin-top: -3px;
}
input::-webkit-input-placeholder{
   color:#cfd1d6!important;
   font-size: .875rem;
}
input::-moz-placeholder{
   color:#cfd1d6!important;
   font-size: .875rem;
}
input:-moz-placeholder{
   color:#cfd1d6!important;
   font-size: .875rem;
}
input:-ms-input-placeholder{
   color:#cfd1d6!important;
   font-size: .875rem;
}