@import url('https://rsms.me/inter/inter.css');
html{
   font-size: 20px;
   margin: 0;
   padding: 0;
   height: 100%; 
   overflow:auto; 
   box-sizing: border-box;
}
body {
   margin: 0;
   font-family: "Inter",sans-serif;
   color: #4a4b65;
   height: 100%; 
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
